<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="myInit" default-destroy-method="cleanUp">
    
    <bean id="question" class="com.ashique.Question" >
    
    	<property name="questionId" value="01" />
    	<property name="question" value="This is my question" />
    	<property name="answer">
    		<list>
    			<value>This is the first answer.</value>
    			<value>This is the first answer.</value>
    			<value>This is the first answer.</value>
    		</list>
    	</property>
    	
    </bean> 
    
    
</beans>