<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="myInit" default-destroy-method="cleanUp">
    
    
    <bean id="customer" class="com.ashique.Customer">
    	<property name="customerId" value="100" />
    	<property name="customerName" value="Ashique" />
    	<property name="customerContact" value="7088985506" />
    	<property name="customerAddress" ref="address1" />
    
    </bean>
    
     <bean id="address1" class="com.ashique.Address">
    	<property name="street" value="Basti Road" />
    	<property name="city" value="Maner" />
    	<property name="state" value="Bihar" />
    	<property name="zip" value="801108" />
    	<property name="country" value="India" />
    </bean>
    
    
</beans>